.cart-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background: rgba(0, 0, 0, .15);
	min-height: calc(100vh - 150px);
}

.selected-products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.cart-item {
	width: calc(100vw - 100px);
	height: 150px;
	margin: 15px 30px;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	background: white;
}

.cart-item-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
}

.card-item-image {
	width: 400px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	/* box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5); */
}

.cart-item-details a {
	margin: 10px 0;
	font-size:10px;
}

.card-item-delete {
	height: 100%;
	align-items: flex-start;
	justify-content: center;
	padding: 10px;
	position:relative;
	right:30px;
}

.card-item-delete button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-item-delete button:hover {
	background: rgba(0, 0, 0, .25);
}

.cart-payments {
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.total-divider {
	height: 2px;
	background: #333;
	width: 150px;
	margin-bottom: 15px;
}

.cart-total {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
}

.checkout-button {
	padding: 10px 60px;
	color: #333;
	border: 2px #333 solid;
	background: transparent;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
}

.checkout-button:hover {
	color: white;
	background: #333;
}

.empty-cart {
	width: 100%;
	height: calc(100vh - 150px);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: rgba(0, 0, 0, .5);
	font-style: italic;
	background: rgba(0, 0, 0, .15);
}