.menu {
	width: 0px;
	height: 100vh;
	background: rgba(32, 178, 170, .95);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 75px;
	transition: .5s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
}

.menu-open {
	width: 300px;
	padding: 100px 25px;
}