.menu {
	height: calc(100vh - 75px);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	transition: .5s;
}

.menu-container {
	width: calc(100% + 25px);
	height: calc(100vh - 75px);
	overflow: hidden;
}

.menu-content {
	width: calc(100% - 25px);
	height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	overflow: hidden;
	box-shadow: 5px 0px 25px 0px rgba(0,0,0,0.15);
	margin: 0 0 0 0;
}

.menu ul {
	width: 100%;
	letter-spacing: 1px;
}

.menu li {
	padding: 20px;
	transition: .25s;
}

.menu li:hover {
	background: rgba(0,0,0,0.15);
}

.menu ul a {
	color: black;
}