.ProdCatTile-Wrapper{
	background-color:orange;
	height:100px;
	width:100px;
}
.ProdCatTile-Upper{
 background-color:black;
 height:100px;
 width:100px;
}
.ProdCatTile-Image{

}
.ProdCatTile-Lower{

}
.ProdCatTile-Description{

}
