.journal-content{
	height:90vh;
	width:100vw;
	display:flex;
}

.journal-image-holder{
	height:100%;
	width:70%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.journal-image{
	height:90%;
	width:80%;
}

.journal-right-menu{
	margin:90px 0 0 0;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	height:100%;
	width:30%;
}

.journal-input-holder{
	z-index: 0;
	height:100px;
	width:400px;
	border:4px solid purple;
	background-color:orange;

}

