.contact-inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 150px);
}

.contact-inputs input, .contact-inputs textarea {
	border-radius: 100px;
	height: 45px;
	width: 500px;
	color: white;
	background: #333;
	padding: 0 20px;
	margin: 10px;
	font-size: 16px;
	letter-spacing: 2px;
	border: none;
}

.contact-inputs textarea {
	border-radius: 22.5px;
	padding: 20px;
	width: 500px;
	height: 30vh;
	resize: none;
}

.contact-inputs textarea:focus {
	outline: none;
}

.contact-inputs button {
	margin: 40px 0;
	padding: 10px 60px;
	color: #333;
	border: 2px #333 solid;
	background: transparent;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
}

.contact-inputs button:hover {
	color: white;
	background: #333;
}