.products-banner {
	width: 110vw;
	margin-top: calc(-5vh + -75px);
	height: calc(775px + 5vh);
	padding: calc(125px + 5vh) 50px;
	background: url(https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf3ecd34b3757e384e703b2e79243fb7&auto=format&fit=crop&w=2689&q=80) top;
	background-size: cover;
}

.side-bar {
	position: absolute;
	/* left: 0; */
	top: 75px;
	/* z-index: 2; */
	width: 300px;
	height: 100%;
	/* height: calc(100vh - 75px); */
	background: rgba(255, 255, 255, .25);
}

.filter-area {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 230px;
	z-index: 1;
	width: 100%;
	background: rgba(255, 255, 255, 1);
	top: -75px;
	box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.15);
}

.product-search {
	border: none;
	height: 50px;
	width: 100%;
	padding: 15px;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.product-select {
	padding: 5px;
	border: none;
	height: 30px;
	width: 100%;
	background: rgba(255, 255, 255, .75);
	transition: .25s;
}

.product-select:focus {
	background: rgba(255, 255, 255, 1);
	outline: 0px;
}

.search-area {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-area input {
  width: calc(100% - 200px);
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 18px;
}

.search-area input::placeholder {
  font-style: italic;
  text-transform: lowercase;
}

.search-area button {
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: rgba(0, 0, 0, .05);
}

.search-area button:hover {
  background: rgba(0, 0, 0, .2);
}

.add-tags-button {
  width: 150px;
}

.clear-tags-button {
  width: 50px;
}

.tag-wrapper {
  background: rgba(0, 0, 0, .1);
  height: 35px;
	display: flex;
	flex-wrap:wrap;
  align-items: center;
}

.tag {
	margin: 3px;
	border-radius: 3px;
	height: 25px;
	background: rgba(0, 0, 0, .25);
	border: 1px solid rgba(0, 0, 0, .25);
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tag a {
	padding: 3px 10px;
}

.tag button {
	background: transparent;
	height: 100%;
	border: none;
  padding-left: 0px;
}

.tag-input {
	
}