.products-banner {
	width: 110vw;
	left: -5vw;
	position: relative;
	margin-top: calc(-5vh + -75px);
	height: calc(775px + 5vh);
	padding: calc(125px + 5vh) calc(5vw + 50px);
	background: url(https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf3ecd34b3757e384e703b2e79243fb7&auto=format&fit=crop&w=2689&q=80) top;
	background-size: cover;
}

.side-bar {
	position: absolute;
	/* left: 0; */
	top: 75px;
	/* z-index: 2; */
	width: 300px;
	height: 100%;
	/* height: calc(100vh - 75px); */
	background: rgba(255, 255, 255, .25);
}

.product-search {
	border: none;
	height: 50px;
	width: 100%;
	padding: 15px;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.product-select {
	padding: 5px;
	border: none;
	height: 30px;
	width: 100%;
	background: rgba(255, 255, 255, .75);
	transition: .25s;
}

.product-select:focus {
	background: rgba(255, 255, 255, 1);
	outline: 0px;
}