.footer {
	height: 75px;
	padding: 30px 15px;
	color: white;
	background-color: #222;
}

.footer a {
	color: white;
	white-space: pre;
	font-size:10px;
}

.privacy-link {
	padding: 5px 5px;
	transition: .25s;
}

.privacy-link:hover {
	background: rgba(255,255,255,.15);
	border-radius: 3px;
}
