.crazy-blanket {
	padding-bottom: 40px;
	width: 100%;
}

.login-alert-wrapper {
	background: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

.login-alert {
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 300px;
	border-radius: 3px;
}

.login-alert a {
	padding: 10px;
}