@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Varela+Round');

body {
  overflow-x: hidden;
  background: #222;
}

.app {
  font-family: 'Varela Round', sans-serif;
  background: white;
}

button, input {
  font-family: 'Varela Round', sans-serif;
  outline: none;
  transition: .25s;
}

a {
  text-decoration: none;
	cursor: default;
}

.content {
  padding-top: 75px;
  min-height: calc(100vh - 75px)
}

.transparent {
  background: rgba(255, 255, 255, .8);
}